<template>
	<view class="content">
		<view class="cu-bar search bg-white">
			<view class="search-form round">
				<text class="cuIcon-search"></text>
				<input :adjust-position="false" type="text" placeholder="搜索用户昵称/标题/内容" confirm-type="search" />
			</view>
			<view class="action"><button class="cu-btn bg-green shadow-blur round">搜索</button></view>
		</view>

		<view class="cu-card dynamic">
			<view class="cu-item shadow" v-for="(item, index) in activityList" :key="item.id">
				<view class="cu-list menu-avatar">
					<view class="cu-item padding">
						<image @click="navicateToUserHome(item.user.id)" :src="item.user.avatarUrl" class="cu-avatar round lg"></image>
						<view class="content flex-sub">
							<view>{{ item.nickName }}</view>
							<view @click="detailHandle(item.id)" class="text-black text-bold text-lg text-cut">{{ item.title }}</view>
							<view class="text-white justify-end flex" style="margin-top: 10rpx;">
								<view v-if="index % 4 === 0" class='cu-tag bg-gradual-blue shadow radius'>{{item.start_time}}</view>
								<view v-else-if="index % 3 === 0" class='cu-tag bg-gradual-orange shadow radius'>{{item.start_time}}</view>
								<view v-else-if="index % 2 === 0" class='cu-tag bg-gradual-green shadow radius'>{{item.start_time}}</view>
								<view v-else-if="index % 1 === 0" class='cu-tag bg-gradual-pink shadow radius'>{{item.start_time}}</view>
							</view>		
						</view>
					</view>
				</view>
				<view @click="detailHandle(item.id)" class="text-gray padding">{{ item.brief }}</view>
				<swiper @click="detailHandle(item.id)" class="screen-swiper round-dot" :indicator-dots="true" :circular="true"
						 :autoplay="true" interval="5000" duration="500">
							<swiper-item v-for="(item_,index) in item.images" :key="index">
								<image :src="item_" mode="aspectFill"></image>
							</swiper-item>
						</swiper>
				<view class="text-gray text-sm text-right padding">
					<text class="cuIcon-attentionfill margin-lr-xs"></text>
					10
					<text class="cuIcon-appreciatefill margin-lr-xs"></text>
					20
				</view>
			</view>
		</view>

		<view class="cu-bar tabbar bg-white foot">
			<view @click="navicateToIndex" class="action text-cyan">
				<view class="cuIcon-discoverfill"></view>
				<text class="text-gray">活动</text>
			</view>
			<view @click="navicateToFocusOn" class="action text-orange">
				<view class="cuIcon-likefill"></view>
				<text class="text-gray">关注</text>
			</view>
			<view @click="navicateToRelease" class="action text-red add-action">
				<button class="cu-btn cuIcon-add bg-green shadow" open-type="getUserInfo"></button>
				<text class="text-gray">发布</text>
			</view>
			<view @click="navicateToSchedule" class="action text-red">
				<view class="cuIcon-countdownfill"></view>
				<text class="text-gray">日程</text>
			</view>
			<view @click="navicateToHome" class="action text-olive">
				<view class="cuIcon-homefill"></view>
				<text class="text-gray">我的</text>
			</view>
		</view>
		<view class="cu-load load-modal" v-if="loadModal">
			<view class="cuIcon-emojifill text-orange"></view>
			<view class="gray-text">加载中...</view>
		</view>
		<loading ref="loading" :custom="false" :shadeClick="false" :type="2"><!-- <view class="test">自定义</view> --></loading>
		<message ref="Message"></message>
	</view>
</template>

<script>
import loading from '@/components/xuan-loading/xuan-loading.vue';
export default {
	data() {
		return {
			loadModal: false,
			pageConfig: {
				offset: 0,
				limit: 10
			},
			activityList: [],
			cardCur: 0
		};
	},
	components: {
		loading
	},
	onShow() {
		this.refreshData();
	},
	methods: {
		navicateToIndex() {
			uni.navigateTo({
				url: '/pages/index/index'
			});
		},
		navicateToFocusOn() {
			uni.navigateTo({
				url: '/pages/focusOn/focusOn'
			});
		},
		navicateToRelease() {
			// 判断用户之前是否有用户信息，若没有则调起更新
			let that = this;
			
			// 有可能main.js还没登录，还没token
			let token = uni.getStorageSync('token')
			if(!token){
				return
			}
			wx.getUserInfo({
				success(resp) {
					console.log(resp);
					let userinfo = resp.userInfo;
					let data = {
						userinfo: userinfo
					};
					that.$api.userApi.update(data).then(resp => {
						uni.navigateTo({
							url: '/pages/activity/release/release'
						});
					});
				}
			});
		},
		navicateToSchedule() {
			uni.navigateTo({
				url: '/pages/schedule/schedule'
			});
		},
		navicateToHome() {
			uni.navigateTo({
				url: '/pages/home/home'
			});
		},
		detailHandle(e) {
			// 活动详情跳转
			uni.navigateTo({
				url: '/pages/activity/detail/detail?activityId=:activityId'.replace(':activityId', e)
			});
		},
		close: function() {
			this.$refs.loading.close();
		},
		open: function() {
			this.$refs.loading.open();
		},
		// 刷新数据
		refreshData() {
			this.loadModal = true;
			this.pageConfig.offset = 0;
			let params = this.pageConfig;
			this.$api.activityApi.activityList(params).then(resp => {
				let data = resp.data.results;
				this.activityList = data;
				this.loadModal = false;
			});
		},
		// 加载更多
		moreData() {
			this.loadModal = true;
			this.pageConfig.offset = this.activityList.length;
			let params = this.pageConfig;
			this.$api.activityApi.activityList(params).then(resp => {
				let data = resp.data.results;
				if (data === null || data.length == 0) {
					this.$refs['Message'].success({
						content: '没有更多数据啦 (୨୧•͈ᴗ•͈)◞︎ᶫᵒᵛᵉ   ♡',
						duration: 2000,
						background: true
					});
					this.loadModal = false;
				} else {
					this.activityList = data;
					this.loadModal = false;
				}
			});
		},
		cardSwiper(e) {
			this.cardCur = e.detail.current;
		},
		navicateToUserHome(e){
			console.log(e)
			let userId = uni.getStorageSync('userId')
			if(e === userId){
				uni.navigateTo({
					url:'/pages/home/home'
				})
			}else{
				uni.navigateTo({
					url:'/pages/userHome/userHome?userId=:userId'.replace(':userId', e)
				})
			}
		}
	},
	onPullDownRefresh() {
		console.log('pull ...');
		this.refreshData();
		setTimeout(function() {
			uni.stopPullDownRefresh();
		}, 1000);
	},
	onReachBottom() {
		console.log('reach ...');
		this.moreData();
	}
};
</script>

<style>
	page{
		padding-bottom: 200upx;
	}
</style>
