<template>
	<view>
		<view class="">
			<view class="text-black text-bold text-lg padding-lr text-cut text-center; margin-top">{{ activityDetail.title }}</view>
			<swiper
				class="card-swiper round-dot"
				:indicator-dots="true"
				:circular="true"
				:autoplay="true"
				interval="5000"
				duration="500"
				@change="cardSwiper"
				indicator-color="#8799a3"
				indicator-active-color="#0081ff"
			>
				<swiper-item v-for="(item, index) in activityDetail.images" :key="index" :class="cardCur == index ? 'cur' : ''">
					<view class="swiper-item"><image :src="item" mode="aspectFill"></image></view>
				</swiper-item>
			</swiper>
			<view class="text-grey padding-lr text-gray" style="text-indent: 1em;">{{ activityDetail.brief }}</view>
			<view class="padding flex justify-end">
				<view class="cu-tag radius sm bg-gradual-green">{{ activityDetail.start_time }}</view>
				<view class="cu-tag radius sm bg-gradual-orange">{{ activityDetail.end_time }}</view>
			</view>
			<map :markers="markers" class="map-container" :latitude="activityDetail.latitude" :longitude="activityDetail.longitude"></map>
			<view @click="goLocal" class="flex justify-start" style="margin-top: 10upx;"><text class="cuIcon-locationfill padding-lr lg text-cyan" style="">到这去</text></view>

			<view class="cu-list menu-avatar margin-top sm-border card-menu">
				<view class="cu-item" v-for="(item, index) in siginUpList" :key="item.id">
					<image :src="item.avatarUrl" class="cu-avatar round lg"></image>

					<view class="content">
						<view class="text-grey">{{ item.nickName }}</view>
					</view>
					<view class="action">
						<view class="text-grey text-xs">{{ item.time }}</view>
					</view>
				</view>
			</view>

			<button style="margin-bottom: 30rpx" v-if="!hasSiginUp" @click="confirmHandle" class="shadow lines-red submit-btn lg">
				<text class="cuIcon-rechargefill"></text>
				立即报名
			</button>
			<button style="margin-bottom: 30rpx" v-else @click="cancleHandle" class="shadow lines-gray submit-btn lg">
				<text class="cuIcon-flashbuyfill"></text>
				取消报名
			</button>
			<!-- <button class="shadow lines-cyan submit-btn lg">再次发布</button> -->
		</view>
		<view class="cu-modal" :class="showModal ? 'show' : ''">
			<view class="cu-dialog">
				<view class="cu-bar bg-white justify-end">
					<view class="content">提示 ヾ(✿❛3❛)ノ</view>
					<view class="action" @tap="hideModal"><text class="cuIcon-close text-red"></text></view>
				</view>
				<view class="padding-xl text-gray">{{ msg }}</view>
				<view class="cu-bar bg-white justify-center">
					<view class="action">
						<button class="cu-btn line-green text-green" @tap="hideModal">取消</button>
						<button @click="submit" class="cu-btn bg-green margin-left" @tap="hideModal">确定</button>
					</view>
				</view>
			</view>
		</view>
		<message ref="Message"></message>
	</view>
</template>

<script>
let app = getApp();
export default {
	data() {
		return {
			siginUpList: [],
			id: null,
			loadModal: false,
			showModal: false,
			hasSiginUp: false,
			cardCur: 0,
			msg1: '根据群主设置的活动类型，您需要在线下向群主支付:cost元的报名费用哦！(｡◕ˇ∀ˇ◕)',
			msg2: '根据群主设置活动类型，您需要提前支付:cost元的报名费用哦！ ＼(*T▽T*)／ ',
			msg3: '根据群主设置活动类型，您需要提前支付:cost元的报名费用哦！(❁´◡`❁)*✲ﾟ*',
			msg: '',
			activityDetail: {
				limit: [0, 50],
				images: [],
				cost: '',
				cancle: '2',
				title: '',
				startTime: '',
				endTime: '',
				latitude: 39.9085,
				longitude: 116.39747,
				address: '',
				brief: '',
				trading_type: '0'
			},
			markers: []
		};
	},
	onLoad(opinions) {
		this.id = opinions.activityId;
	},
	onShow(options) {
		wx.showShareMenu({
			withShareTicket: true
		});
		this.refreshData();
	},
	components: {},
	onShareAppMessage(e) {
		let that = this;
		return {
			title: that.activityDetail.title,
			path: '/pages/activity/detail/detail?activityId=:activityId'.replace(':activityId', this.id),
			imageUrl: that.activityDetail.images[0],
			success(res) {
				console.log('分享成功');
				console.log(res);
			}
		};
	},
	methods: {
		refreshData() {
			this.loadModal = true;
			this.$api.activityApi.activityDetail(this.id).then(resp => {
				this.activityDetail = resp.data.data;
				if (this.activityDetail.trading_type == 0) {
					// 线下付款
					this.msg = this.msg1.replace(':cost', this.activityDetail.cost);
				} else if (this.activityDetail.trading_type == 1) {
					// 预付款
					this.msg = this.msg2.replace(':cost', this.activityDetail.cost);
				} else if (this.activityDetail.trading_type == 2) {
					// 返现
					this.msg = this.msg3.replace(':cost', this.activityDetail.cost);
				}
				if (resp.data.msg == 'yes') {
					this.hasSiginUp = true;
				} else {
					this.hasSiginUp = false;
				}
				this.markers = [
					{
						title: this.activityDetail.address,
						latitude: this.activityDetail.latitude,
						longitude: this.activityDetail.longitude
					}
				];
				this.loadModal = false;
			});
			this.$api.activityApi.siginUpList(this.id).then(resp => {
				this.siginUpList = resp.data.data.elements;
			});
		},
		cardSwiper(e) {
			this.cardCur = e.detail.current;
		},
		// 确认报名
		confirmHandle() {
			this.showModal = true;
		},
		hideModal() {
			this.showModal = false;
		},
		cancleHandle() {
			this.$api.activityApi.siginUpDelete(this.id).then(resp => {
				if (resp.data.rc === 0) {
					uni.showToast({
						title: '取消成功'
					});
					this.refreshData();
				}else if (resp.data.rc === 1){
					this.$refs['Message'].error({
						content: resp.data.msg,
						duration: 2000,
						background: true
					});
				}
			});
		},
		goLocal() {
			let that = this;
			uni.openLocation({
				longitude: parseFloat(that.activityDetail.longitude),
				latitude: parseFloat(that.activityDetail.latitude),
				address: that.activityDetail.address,
				success() {
					console.log('success');
				},
				fail(e) {
					console.log(e);
				}
			});
		},
		submit() {
			let token = uni.getStorageSync('token');
			if (!token) {
				return;
			}
			let that = this;
			wx.getUserInfo({
				success(resp) {
					console.log(resp);
					let userinfo = resp.userInfo;
					let data = {
						userinfo: userinfo
					};
					that.$api.userApi.update(data).then(resp => {
						that.$api.activityApi.siginUpCreate(that.id).then(resp => {
							if (resp.data.rc === 0) {
								that.showModal = false;
								uni.showToast({
									title: resp.data.msg
								});
								that.refreshData();
							} else if (resp.data.rc == 1 && resp.data.msg == '人数达到上限') {
								that.$refs['Message'].error({
									content: resp.data.msg,
									duration: 2000,
									background: true
								});
							} else if (resp.data.rc == 1 && resp.data.msg == '余额不足') {
								that.$refs['Message'].error({
									content: resp.data.msg,
									duration: 2000,
									background: true,
								});
								wx.navigateTo({
									url: '/pages/recharge/recharge'
								});
							}
						});
					});
				},
				fail(err) {
					that.$api.activityApi.siginUpCreate(that.id).then(resp => {
						if (resp.data.rc === 0) {
							that.showModal = false;
							uni.showToast({
								title: '报名成功'
							});
							that.refreshData();
						}else if (resp.data.rc == 1 && resp.data.msg == '人数达到上限') {
								that.$refs['Message'].error({
									content: resp.data.msg,
									duration: 2000,
									background: true
								});
							} else if (resp.data.rc == 1 && resp.data.msg == '余额不足') {
								that.$refs['Message'].error({
									content: resp.data.msg,
									duration: 2000,
									background: true,
								});
								wx.navigateTo({
									url: '/pages/recharge/recharge'
								});
							}
					});
				}
			});
		}
	}
};
</script>

<style>
.map-container {
	margin-bottom: 30rpx;
	border: 1px solid #17233d;
	width: 90%;
	height: 300upx;
	margin: auto;
}
.submit-btn {
	width: 80%;
	margin: auto;
	margin-top: 30rpx;
	margin-bottom: 100upx;
}
</style>
