<template>
	<view class="cover-bg"></view>
</template>

<script>
export default {
	data() {
		return {};
	},
	methods: {}
};
</script>

<style>
	.cover-bg{
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		height: 100%;
		width: 100%;
		background-size: 70% 70%;
		background-image: url(../../static/img/timg.jpg);
		background-position: center center;
		background-repeat: no-repeat;
		background-color: white;
	}
</style>
