<template>
	<view class="main">
		<view class="margin padding text-black">选择充值金额</view>
		<view class="box-group">
			<view class="flex justify-around align-center margin-tb-sm">
				<view @click="changePriceHandler(10)" :class="selectIndex == '10' ? 'select' : ''" class="box bg-gray text-black radius border">10元</view>
				<view @click="changePriceHandler(20)" :class="selectIndex == '20' ? 'select' : ''" class="box bg-gray text-black radius">20元</view>
				<view @click="changePriceHandler(30)" :class="selectIndex == '30' ? 'select' : ''" class="box bg-gray text-black radius">30元</view>
			</view>

			<view class="flex justify-around align-center margin-tb-sm">
				<view @click="changePriceHandler(50)" :class="selectIndex == '50' ? 'select' : ''" class="box bg-gray text-black radius border">50元</view>
				<view @click="changePriceHandler(60)" :class="selectIndex == '60' ? 'select' : ''" class="box bg-gray text-black radius">60元</view>
				<view @click="changePriceHandler(70)" :class="selectIndex == '70' ? 'select' : ''" class="box bg-gray text-black radius">70元</view>
			</view>

			<view class="flex justify-around align-center margin-tb-sm">
				<view @click="changePriceHandler(80)" :class="selectIndex == '80' ? 'select' : ''" class="box bg-gray text-black radius border">80元</view>
				<view @click="changePriceHandler(90)" :class="selectIndex == '90' ? 'select' : ''" class="box bg-gray text-black radius">90元</view>
				<view @click="changePriceHandler(100)" :class="selectIndex == '100' ? 'select' : ''" class="box bg-gray text-black radius">100元</view>
			</view>
		</view>
		<view @click="rechargeHandler" class="padding flex flex-direction"><button class="cu-btn bg-blue shadow light text-black lg">充值</button></view>
		<message ref="Message"></message>
	</view>
</template>

<script>
export default {
	data() {
		return {
			selectIndex: '10'
		};
	},
	methods: {
		changePriceHandler(price) {
			this.selectIndex = price.toString();
		},
		rechargeHandler() {
			let data = {
				price: this.selectIndex
			};
			let that = this;
			this.$api.userApi.recharge(data).then(resp => {
				if (resp.data.rc != 0) {
					that.$refs['Message'].warn({
						content: '充值失败，请稍后再试！',
						duration: 2000,
						background: true
					});
				}
				let result = resp.data.data;
				wx.requestPayment({
					timeStamp: result.timeStamp,
					nonceStr: result.nonceStr,
					package: result.package,
					signType: result.signType,
					paySign: result.paySign,
					success(res){
						// 查订单
						uni.showToast({
							title: '充值成功!',
							success() {
								// 跳转到主页
								uni.navigateBack({
									
								});
							}
						});
					},
					fail(err){
						that.$refs['Message'].warn({
							content: '充值失败，请稍后再试！',
							duration: 2000,
							background: true
						});
					}
				});
			});
		}
	}
};
</script>

<style>
page {
	height: 100%;
}
.main {
	height: 100%;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.box-group {
	width: 80%;
	margin: auto;
}
.box {
	width: 150rpx;
	height: 150rpx;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid #4b95e6;
	border-radius: 10rpx;
}

.select {
	background-color: #ebeef5;
}
</style>
