<template>
	<view class="content">
		<model-calendar
		:sendYear="toYear" :sendMonth="toMonth"
		:dataSource="signData" :totalNum="sumCount"
		 @dateChange="getData" @clickChange="clickRegister"
		 ></model-calendar>
		<view class='count' v-for="(item, index) in activityList" :key='item.id'>
			<!-- 活动名称 -->
			<text class="text-cut text-black text-lg text-bold">{{item.title}}</text>
			
			<!-- 活动简介 -->
			<view class='daynumber'>
				<text class="text-gray">{{item.brief}}</text>
			</view>
		
			<view class="text-black text-bold flex align-center">累计报名人数<text class="monthSum">{{item.count}}</text>人</view>
			
			<!-- 倒计时 -->
			<view class="example-body">
				<uni-countdown :day="item.days" :minute="item.mins" :second="item.secs" :show-colon="false" />
			</view>
		</view>
		<view class="cu-bar tabbar bg-white foot">
			<view @click="navicateToIndex" class="action text-cyan">
				<view class="cuIcon-discoverfill"></view>
				<text class="text-gray">活动</text>
			</view>
			<view @click="navicateToFocusOn" class="action text-orange">
				<view class="cuIcon-likefill"></view>
				<text class="text-gray">关注</text>
			</view>
			<view @click="navicateToRelease" class="action text-red add-action">
				<button class="cu-btn cuIcon-add bg-green shadow"></button>
				<text class="text-gray">发布</text>
			</view>
			<view @click="navicateToSchedule" class="action text-red">
				<view class="cuIcon-countdownfill"></view>
				<text class="text-gray">日程</text>
			</view>
			<view @click="navicateToHome" class="action text-olive">
				<view class="cuIcon-homefill"></view>
				<text class="text-gray">我的</text>
			</view>
		</view>
		<view class="cu-load load-modal" v-if="loadModal">
			<view class="cuIcon-emojifill text-orange"></view>
			<view class="gray-text">加载中...</view>
		</view>
		<loading ref="loading" :custom="false" :shadeClick="false" :type="2" @callback="callback()"><!-- <view class="test">自定义</view> --></loading>
		<message ref="Message"></message>
	</view>
</template>

<script>
import loading from '@/components/xuan-loading/xuan-loading.vue';
import modelCalendar from '@/components/Calendar/Calendar.vue';
import uniCountdown from '@/components/uni-countdown/uni-countdown.vue'
export default {
	data() {
		return {
			loadModal: false,
			toYear: parseInt(new Date().getFullYear()), //本日
			toMonth: parseInt(new Date().getMonth() + 1), //本月
			sumCount: 0,
			signData: [],
			activityList: []
		};
	},
	components: {
		loading,
		modelCalendar,
		uniCountdown
	},
	onLoad() {
		this.getData(this.toYear+"-"+this.toMonth);
	},
	methods: {
		navicateToIndex() {
			uni.navigateTo({
				url: '/pages/index/index'
			});
		},
		navicateToFocusOn() {
			uni.navigateTo({
				url: '/pages/focusOn/focusOn'
			});
		},
		navicateToRelease() {
			// 判断用户之前是否有用户信息，若没有则调起更新
			let that = this;
			
			// 有可能main.js还没登录，还没token
			let token = uni.getStorageSync('token')
			if(!token){
				return
			}
			wx.getUserInfo({
				success(resp) {
					console.log(resp);
					let userinfo = resp.userInfo;
					let data = {
						userinfo: userinfo
					};
					that.$api.userApi.update(data).then(resp => {
						uni.navigateTo({
							url: '/pages/activity/release/release'
						});
					});
				}
			});
		},
		navicateToSchedule() {
			uni.navigateTo({
				url: '/pages/schedule/schedule'
			});
		},
		navicateToHome() {
			uni.navigateTo({
				url: '/pages/home/home'
			});
		},
		
		timeup() {
			uni.showToast({
				title: '您有一个活动即将开始！'
			})
		},
		clickRegister(day) {
			// 查看该活动详情
			let userId = uni.getStorageSync('userId')
			let params = {
				date: day
			}
			this.$api.activityApi.scheduleDetail(userId, params).then(resp =>{
				this.activityList = resp.data.data.elements
			})
		},
		//当模板的时候可以直接引入，然后触发子组件事件到父界面去控制数据
		
		//获取当前用户该任务的签到数组
		getData(val) {
			let userId = uni.getStorageSync('userId')
			
			// 按年月查询
			let y=val.split('-')[0];
			let m=val.split('-')[1];
			let params = {
				year: y,
				month:m
			}
			this.$api.activityApi.scheduleList(userId, params).then(resp =>{
				this.signData = resp.data.data.elements
			})
		},
	}
};
</script>

<style>
	page{
		padding-bottom: 200upx;
	}
	.count .daynumber {
		display: flex;
		flex-direction: row;
		justify-content: center;
	}
	
	.count .daynumber .day {
		margin-top: 50rpx;
	}
	
	.count {
		margin: 20rpx;
		padding: 30rpx;
		display: flex;
		text-align: center;
		border-radius: 10px;
		flex-direction: column;
		justify-content: center;
		background-color: #fff;
		align-items: center;
	}
	
	.count .number {
		color: #fff;
		font-size: 60rpx;
		background-color: #94db98;
		width: 100rpx;
		height: 100rpx;
		border-radius: 50%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin: 20rpx;
	}
	
	.monthSum {
		color: red;
		font-size: 40rpx;
	}
	
	.count text {
		margin: 10rpx;
	}
	
</style>
