<template>
	<view><rich-text :nodes="content"></rich-text></view>
</template>

<script>
export default {
	data() {
		return {
			content: ''
		};
	},
	onLoad() {
		this.$api.settingApi.helpContent().then(resp => {
			this.content = resp.data;
		});
	},
	methods: {}
};
</script>

<style>
* {
	font-size: xx-large;
}
</style>
