<template>
	<view>
		<input class="uni-input" placeholder-class="text-grey text-sm" placeholder="请输入活动地址" :value="value" @input="onInput" @blur="hideList" />
		<view class="str-auto-complete-container text-grey text-sm" v-if="isShow">
			<view v-for="(item, index) in showList" :key="index" class="str-auto-complete-item" @click="selectThisItem(item)" v-html="item.showString"></view>
		</view>
	</view>
</template>
<!-- <script charset="utf-8" src="https://map.qq.com/api/js?v=2.exp&key=OB4BZ-D4W3U-B7VVO-4PJWW-6TKDJ-WPB77"></script> -->

<script>
import amap from '@/static/js/amap-wx.js';
var QQMapWX = require('../../static/js/qqmap-wx-jssdk.js');

export default {
	props: {
		stringList: {
			type: Array
		},
		importvalue: {
			type: String
		},
		lowerAndUp: {
			type: String,
			default: 'true'
		},
		highlightColor: {
			type: String,
			default: 'lightcoral'
		}
	},
	data() {
		return {
			showList: [],
			value: '',
			needShow: false
		};
	},
	watch: {
		importvalue(newValue, oldValue) {
			this.value = newValue;
		}
	},
	model: {
		prop: 'value',
		event: 'change'
	},
	computed: {
		isShow() {
			return this.needShow && this.showList.length > 0;
		}
	},
	created() {
		this.stringList.sort();
		this.showList = this.stringList;
		this.value = this.importvalue;
		this.amapPlugin = new amap.AMapWX({
			key: 'da2063533e1c1ab0bf7002f25f506383'
		});
		this.qqmapsdk = new QQMapWX({
			key: '62TBZ-4DMC6-TLCSW-EJGFD-EC4VJ-DUBHD'
		});
	},
	methods: {
		onInput(event) {
			// 以event.target.value为关键词请求，腾讯地图，设置到showList上
			// let that = this;
			let keywords = event.detail.value;
			if (keywords == '') {
				return;
			}

			var _this = this;

			this.amapPlugin.getInputtips({
				keywords: keywords,
				success: function(res) {
					let tmp = [];
					res.tips.forEach(value => {
						let address = value.district + value.name
						tmp.push({
							showString: address,
							orginalString: address,
							local: value.location
						});
					});
					_this.showList = tmp;
				},
				fail: function(res) {
					console.log(res)
				}
			})
			this.$emit('change', event.target.value);
			if (event.target.value.length > 0) {
				this.needShow = true;
			} else {
				this.needShow = false;
			}
		},
		hideList() {
			// this.needShow = false;
		},
		filterList(stringExp) {
			let tempArray = [];
			for (let i = 0; i < this.stringList.length; i++) {
				let temp = this.stringList[i];
				let showObject = this.filterString(stringExp, temp);
				if (showObject) {
					if (showObject.number === stringExp.length) {
						tempArray.push(showObject);
					}
				}
			}
			if (tempArray.length === 0 && stringExp.length !== 0) {
				return false;
			}
			this.showList = tempArray;
		},
		filterString(stringExp, b) {
			const tempByteArray = b.split('');
			let itemShow = [];
			const sArray = stringExp.split('');
			const fontStart = '<span style=color:' + this.highlightColor + '>';
			const fontEnd = '</span>';
			let sameCharNumber = 0;
			for (let j = 0; j < tempByteArray.length; j++) {
				let tempChar = tempByteArray[j];
				let sChar = sArray[sameCharNumber];
				if (this.lowerAndUp !== 'no') {
					tempChar = tempChar.toLowerCase();
					if (sChar) {
						sChar = sChar.toLowerCase();
					}
				}

				if (tempChar === sChar) {
					let sameNumberNow = sameCharNumber;
					itemShow.push(fontStart);
					for (let k = 0; k < sArray.length - sameNumberNow; k++) {
						let tempCharStr = tempByteArray[j + k];
						let sCharStr = sArray[k + sameNumberNow];
						if (this.lowerAndUp !== 'no') {
							tempCharStr = tempCharStr.toLowerCase();
							if (sCharStr) {
								sCharStr = sCharStr.toLowerCase();
							}
						}

						if (tempCharStr === sCharStr) {
							itemShow.push(tempByteArray[j + k]);
							sameCharNumber++;
						} else if (tempCharStr !== sCharStr) {
							itemShow.push(fontEnd);
							itemShow.push(tempByteArray[j + k]);
							j += k;
							break;
						}
						if (k + sameNumberNow === sArray.length - 1) {
							j += k;
							itemShow.push(fontEnd);
						}
					}
				} else {
					itemShow.push(tempByteArray[j]);
				}
			}
			if (sameCharNumber > 0) {
				return {
					orginalString: b,
					number: sameCharNumber,
					showString: itemShow.join('')
				};
			}
		},
		selectThisItem(item) {
			this.$set(this, 'value', item);
			this.needShow = false;
			this.$emit('change', item);
			this.$emit('select', item);
		}
	}
};
</script>

<style lang="scss">
.str-auto-complete-container {
	width: 60%;
	height: auto;
	border: 1px solid #f3f3f4;
	position: absolute;
	z-index: 999;
	background: #fff;

	.str-auto-complete-item {
		padding: 10upx;
	}
}
</style>
