<template>
	<view>
		<view @click="navicateToDetail(item.id)" class="cu-timeline activity-list" v-for="item in activityList" :key="item.id">
			<view class="cu-time">{{ item.start_date }}</view>
			<view class="cu-item">
				<view class="content">
					<view class="cu-capsule radius">
						<view v-if="item.interval == '晚上'" class="cu-tag bg-gradual-green">{{ item.interval }}</view>
						<view v-if="item.interval == '早上'" class="cu-tag bg-gradual-orange">{{ item.interval }}</view>
						<view v-if="item.interval == '下午'" class="cu-tag bg-gradual-blue">{{ item.interval }}</view>
						<view v-if="item.interval == '凌晨'" class="cu-tag bg-gradual-pink">{{ item.interval }}</view>
						<view class="cu-tag line-cyan">{{ item.start_time }}</view>
					</view>
					<view class="text-black text-bold text-cut margin-top">{{ item.title }}</view>
					<view class="margin-top">{{ item.brief }}</view>
				</view>
			</view>
		</view>
		<view class="cu-load load-modal" v-if="loadModal">
			<view class="cuIcon-emojifill text-orange"></view>
			<view class="gray-text">加载中...</view>
		</view>
		<loading ref="loading" :custom="false" :shadeClick="false" :type="2" @callback="callback()"><!-- <view class="test">自定义</view> --></loading>
		<message ref="Message"></message>
	</view>
</template>

<script>
	import loading from '@/components/xuan-loading/xuan-loading.vue';
	export default {
		data() {
			return {
				loadModal: false,
				activityList: [],
				pageConfig: {
					offset: 0,
					limit: 10
				}
			}
		},
		onLoad() {
		},
		onShow() {
			console.log('show')
			this.refreshData();
		},
		components:{
			loading
		},
		methods: {
			// 刷新数据
			refreshData() {
				this.activityList = []
				this.loadModal = true;
				this.pageConfig.offset = 0;
				let params = this.pageConfig;
				console.log(params)
				this.$api.activityApi.createdList(params).then(resp => {
					let data = resp.data.results;
					// 数据格式化一下
					data.forEach((item, index) => {
						let x = item.start_time.split(' ');
						let y = x[0];
						let z = x[1];
		
						y = y.split('-');
						y = y[1] + '-' + y[2];
		
						let t = parseInt(z.split(':')[0]);
						console.log(t);
						let interval = '晚上';
						if (0 <= t && t < 5) {
							interval = '凌晨';
						} else if (5 <= t && t < 12) {
							interval = '早上';
						} else if (12 <= t && t < 18) {
							interval = '下午';
						} else {
							interval = '晚上';
						}
		
						// time\date
						item['start_time'] = z;
						item['start_date'] = y;
						item['interval'] = interval;
		
						this.activityList.push(item);
					});
		
					this.loadModal = false;
				});
			},
			// 加载更多
			moreData() {
				this.loadModal = true;
				this.pageConfig.offset = this.activityList.length;
				let params = this.pageConfig;
				this.$api.activityApi.createdList(params).then(resp => {
					let data = resp.data.results;
					if (data === null || data.length == 0) {
						this.$refs['Message'].success({
							content: '没有更多数据啦 (୨୧•͈ᴗ•͈)◞︎ᶫᵒᵛᵉ   ♡',
							duration: 2000,
							background: true
						});
						this.loadModal = false;
					} else {
						this.activityList = data;
						this.loadModal = false;
					}
				});
			},
			navicateToDetail(activityId){
				uni.navigateTo({
					url: '/pages/activity/detail/detail?activityId=:activityId'.replace(':activityId', activityId)
				});
			}
		},
		onPullDownRefresh() {
			console.log('pull ...');
			this.refreshData();
			setTimeout(function() {
				uni.stopPullDownRefresh();
			}, 1000);
		},
		onReachBottom() {
			console.log('reach ...');
			this.moreData();
		}
	}
</script>

<style>

</style>
