<template>
	<view class="content">
		<view class="bg-blue light radius text-center shadow-blur header" style="position: relative;">
			<view class="userinfo">
				<view class="userinfo-avatar"><open-data type="userAvatarUrl"></open-data></view>
				<view class="margin-top text-bold text-black">
					Hi，
					<open-data type="userNickName"></open-data>
				</view>
				
			</view>
			<view @click="qrCodeHandler" class="cuIcon-qr_code text-black" style="position: absolute; right: 50rpx;top: 50rpx;font-size: 50rpx;"></view>
			<view @click="rechargeHandler" class="cuIcon-moneybag text-yellow" style="position: absolute; right: 50rpx;bottom: 50rpx;font-size: 50rpx;"><text class="text-sm">{{userinfo.money}}</text></view>
			<!-- <button class="bg-gradual-orange sm cu-btn round radius shadow" >
				<text class="cuIcon-coin text-white sm">充值</text>
			</button> -->
		</view>

		<view class="cu-list menu sm-border card-menu margin-top">
			<view class="cu-item arrow" @click="navicateToCreated">
				<view class="content">
					<text class="cuIcon-creativefill text-cyan"></text>
					<text class="text-grey">发布历史</text>
				</view>
			</view>
			<view class="cu-item arrow" @click="navicateToTakePartIn">
				<view class="content">
					<text class="cuIcon-activityfill text-yellow"></text>
					<text class="text-grey">参与列表</text>
				</view>
			</view>
			<view class="cu-item arrow" @click="navicateToRecord">
				<view class="content">
					<text class="cuIcon-rechargefill text-blue"></text>
					<text class="text-grey">消费记录</text>
				</view>
			</view>
			<view class="cu-item arrow" @click="navicateToHelp">
				<view class="content">
					<text class="cuIcon-emojifill text-red"></text>
					<text class="text-grey">帮助中心</text>
				</view>
			</view>
			<view class="cu-item arrow" @click="navicateToServer">
				<view class="content">
					<text class="cuIcon-newsfill text-green"></text>
					<text class="text-grey">服务条款</text>
				</view>
			</view>
			<view class="cu-item arrow" @click="navicateToAbout">
				<view class="content">
					<text class="cuIcon-servicefill text-orange"></text>
					<text class="text-grey">关于我们</text>
				</view>
			</view>
		</view>

		<view class="cu-bar tabbar bg-white foot">
			<view @click="navicateToIndex" class="action text-cyan">
				<view class="cuIcon-discoverfill"></view>
				<text class="text-gray">活动</text>
			</view>
			<view @click="navicateToFocusOn" class="action text-orange">
				<view class="cuIcon-likefill"></view>
				<text class="text-gray">关注</text>
			</view>
			<view @click="navicateToRelease" class="action text-red add-action">
				<button class="cu-btn cuIcon-add bg-green shadow"></button>
				<text class="text-gray">发布</text>
			</view>
			<view @click="navicateToSchedule" class="action text-red">
				<view class="cuIcon-countdownfill"></view>
				<text class="text-gray">日程</text>
			</view>
			<view @click="navicateToHome" class="action text-olive">
				<view class="cuIcon-homefill"></view>
				<text class="text-gray">我的</text>
			</view>
		</view>
		<view class="cu-load load-modal" v-if="loadModal">
			<view class="cuIcon-emojifill text-orange"></view>
			<view class="gray-text">加载中...</view>
		</view>
		<loading ref="loading" :custom="false" :shadeClick="false" :type="2" @callback="callback()"><!-- <view class="test">自定义</view> --></loading>
		<message ref="Message"></message>
	</view>
</template>

<script>
import loading from '@/components/xuan-loading/xuan-loading.vue';
export default {
	data() {
		return {
			loadModal: false,
			userinfo: {
				headimgurl: '/static/wkiwi-user/face.png',
				nickname: '炒鸡蛋',
				money: '100'
			}
		};
	},
	components: {
		loading
	},
	onLoad() {},
	onShow(){
		 this.getMoney();
	},
	methods: {
		getMoney(){
			this.$api.userApi.money({}).then(resp =>{
				this.userinfo.money = resp.data.data.money;
			});
		},
		navicateToIndex() {
			uni.navigateTo({
				url: '/pages/index/index'
			});
		},
		navicateToFocusOn() {
			uni.navigateTo({
				url: '/pages/focusOn/focusOn'
			});
		},
		navicateToRelease() {
			// 判断用户之前是否有用户信息，若没有则调起更新
			let that = this;
			
			// 有可能main.js还没登录，还没token
			let token = uni.getStorageSync('token')
			if(!token){
				return
			}
			wx.getUserInfo({
				success(resp) {
					console.log(resp);
					let userinfo = resp.userInfo;
					let data = {
						userinfo: userinfo
					};
					that.$api.userApi.update(data).then(resp => {
						uni.navigateTo({
							url: '/pages/activity/release/release'
						});
					});
				}
			});
		},
		navicateToSchedule() {
			uni.navigateTo({
				url: '/pages/schedule/schedule'
			});
		},
		navicateToHome() {
			uni.navigateTo({
				url: '/pages/home/home'
			});
		},
		navicateToRecord(){
			uni.navigateTo({
				url: '/pages/expRecord/expRecord'
			});
		},
		navicateToHelp(){
			uni.navigateTo({
				url: '/pages/help/help'
			});
		},
		navicateToServer(){
			uni.navigateTo({
				url: '/pages/service/service'
			});
		},
		navicateToAbout(){
			uni.navigateTo({
				url: '/pages/about/about'
			});
		},
		navicateToCreated(){
			uni.navigateTo({
				url: '/pages/activity/created/created'
			});
		},
		navicateToTakePartIn(){
			uni.navigateTo({
				url: '/pages/activity/takePartIn/takePartIn'
			});
		},
		// 弹出二维码模板
		qrCodeHandler(){
			uni.navigateTo({
				url:'../qrCode/qrCode'
			});
		},
		// 弹出充值模板
		rechargeHandler(){
			uni.navigateTo({
				url:'../recharge/recharge'
			});
		}
	}
};
</script>

<style lang="scss">
.header {
	height: 400upx;
}

.userinfo {
	position: relative;
	width: 750rpx;
	height: 320rpx;
	color: #fff;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.userinfo-avatar {
	overflow: hidden;
	display: block;
	width: 160rpx;
	height: 160rpx;
	margin: 20rpx;
	margin-top: 50rpx;
	border-radius: 50%;
	border: 2px solid #fff;
	box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
}
</style>
