<template>
	<view class="content">
		<view class="cu-list menu-avatar">
			<view
				class="cu-item"
				:class="modalName == 'move-box-' + index ? 'move-cur' : ''"
				v-for="(item, index) in userList"
				:key="index"
				@touchstart="ListTouchStart"
				@touchmove="ListTouchMove"
				@touchend="ListTouchEnd"
				:data-target="'move-box-' + index"
			>
				<image @click="navicateToUserHome(item.to_user.id)" class="cu-avatar round lg" :src="item.to_user.avatarUrl"></image>
				<view class="content">
					<view class="text-grey">{{item.to_user.nickName}}</view>
				</view>
				<view class="move">
					<view @click="focusOn(item.to_user.id)" class="bg-red">取消关注</view>
				</view>
			</view>
		</view>
		<view class="cu-bar tabbar bg-white foot">
			<view @click="navicateToIndex" class="action text-cyan">
				<view class="cuIcon-discoverfill"></view>
				<text class="text-gray">活动</text>
			</view>
			<view @click="navicateToFocusOn" class="action text-orange">
				<view class="cuIcon-likefill"></view>
				<text class="text-gray">关注</text>
			</view>
			<view @click="navicateToRelease" class="action text-red add-action">
				<button class="cu-btn cuIcon-add bg-green shadow"></button>
				<text class="text-gray">发布</text>
			</view>
			<view @click="navicateToSchedule" class="action text-red">
				<view class="cuIcon-countdownfill"></view>
				<text class="text-gray">日程</text>
			</view>
			<view @click="navicateToHome" class="action text-olive">
				<view class="cuIcon-homefill"></view>
				<text class="text-gray">我的</text>
			</view>
		</view>
		<view class="cu-load load-modal" v-if="loadModal">
			<view class="cuIcon-emojifill text-orange"></view>
			<view class="gray-text">加载中...</view>
		</view>
		<loading ref="loading" :custom="false" :shadeClick="false" :type="2" @callback="callback()"><!-- <view class="test">自定义</view> --></loading>
		<message ref="Message"></message>
	</view>
</template>

<script>
import loading from '@/components/xuan-loading/xuan-loading.vue';
export default {
	data() {
		return {
			loadModal: false,
			modalName: null,
			gridCol: 3,
			gridBorder: false,
			menuBorder: false,
			menuArrow: false,
			menuCard: false,
			skin: false,
			listTouchStart: 0,
			listTouchDirection: null,
			pageConfig: {
				offset: 0,
				limit: 10
			},
			userList: []
		};
	},
	components: {
		loading
	},
	onShow() {
		this.refreshData()
	},
	methods: {
		navicateToIndex() {
			uni.navigateTo({
				url: '/pages/index/index'
			});
		},
		navicateToFocusOn() {
			uni.navigateTo({
				url: '/pages/focusOn/focusOn'
			});
		},
		navicateToRelease() {
			// 判断用户之前是否有用户信息，若没有则调起更新
			let that = this;
			
			// 有可能main.js还没登录，还没token
			let token = uni.getStorageSync('token')
			if(!token){
				return
			}
			wx.getUserInfo({
				success(resp) {
					console.log(resp);
					let userinfo = resp.userInfo;
					let data = {
						userinfo: userinfo
					};
					that.$api.userApi.update(data).then(resp => {
						uni.navigateTo({
							url: '/pages/activity/release/release'
						});
					});
				}
			});
		},
		navicateToSchedule() {
			uni.navigateTo({
				url: '/pages/schedule/schedule'
			});
		},
		navicateToHome() {
			uni.navigateTo({
				url: '/pages/home/home'
			});
		},
		// ListTouch触摸开始
		ListTouchStart(e) {
			this.listTouchStart = e.touches[0].pageX;
		},

		// ListTouch计算方向
		ListTouchMove(e) {
			this.listTouchDirection = e.touches[0].pageX - this.listTouchStart > 0 ? 'right' : 'left';
		},

		// ListTouch计算滚动
		ListTouchEnd(e) {
			if (this.listTouchDirection == 'left') {
				this.modalName = e.currentTarget.dataset.target;
			} else {
				this.modalName = null;
			}
			this.listTouchDirection = null;
		},
		// 刷新数据
		refreshData() {
			this.loadModal = true;
			this.pageConfig.offset = 0;
			let params = this.pageConfig;
			this.$api.userApi.focusOnList(params).then(resp => {
				let data = resp.data.results;
				this.userList = data;
				this.loadModal = false;
			});
		},
		// 加载更多
		moreData() {
			this.loadModal = true;
			this.pageConfig.offset = this.userList.length;
			let params = this.pageConfig;
			this.$api.userApi.focusOnList(params).then(resp => {
				let data = resp.data.results;
				if (data === null || data.length == 0) {
					this.$refs['Message'].success({
						content: '没有更多数据啦 (୨୧•͈ᴗ•͈)◞︎ᶫᵒᵛᵉ   ♡',
						duration: 2000,
						background: true
					});
					this.loadModal = false;
				} else {
					this.userList = data;
					this.loadModal = false;
				}
			});
		},
		navicateToUserHome(e){
			let userId = uni.getStorageSync('userId')
			if(e === userId){
				uni.navigateTo({
					url:'/pages/home/home'
				})
			}else{
				uni.navigateTo({
					url:'/pages/userHome/userHome?userId=:userId'.replace(':userId', e)
				})
			}
		},
		focusOn(e) {
			let that = this;
			let status = 'no';
			
			let userId = e;
		
			this.$api.userApi.focusOn(status, userId).then(resp => {
				that.refreshData()
			});
		},
	},
	onPullDownRefresh() {
		console.log('pull ...');
		this.refreshData();
		setTimeout(function() {
			uni.stopPullDownRefresh();
		}, 1000);
	},
	onReachBottom() {
		console.log('reach ...');
		this.moreData();
	}
};
</script>

<style></style>
