<template>
	<view class="flex flex-direction justify-center align-center main">
		<view class="shadow bg-cyan light radius margin-tb-sm qr-code-img"><image :src="qrCodeUrl" class="qr-img"></image></view>
		<button @click="uplodaHandler" class="bg-gradual-orange text-white margin-tb-sm cu-btn shadow lg">上传名片二维码</button>
		<message ref="Message"></message>
		<view class="cu-load load-modal" v-if="loadModal">
			<image src="/static/logo.png" mode="aspectFit"></image>
			<view class="gray-text">上传中...</view>
		</view>
	</view>
</template>

<script>
const qiniuUploader = require('../../static/js/qiniuUploader.js');
export default {
	data() {
		return {
			qrCodeUrl: null,
			loadModal: false,
		};
	},
	created() {
		this.qrCodeUrl = uni.getStorageSync('qrCodeUrl');
	},
	methods: {
		uplodaHandler() {
			// 上传图片
			let that = this;
			uni.chooseImage({
				count: 1, //默认9
				sizeType: ['original', 'compressed'],
				sourceType: ['album'],
				success: res => {
					console.log('---------- 图片对象 ----------');
					console.log(res);
					if(res.tempFiles[0].size > 1024 * 1024){
						uni.showModal({
							title: '温馨提示',
							content: '图片大小不能超过1M',
							success(resp3) {
								that.loadModal = false;
							},
							fail(er) {
								that.loadModal = false;
							}
						});
					}
					let file = res.tempFiles[0].path;
					let fileName = file.split('/').pop();
					
					let flag = true;
					that.loadModal = true;
					wx.getFileSystemManager().readFile({
						filePath: file,
						success(resp) {
							console.log('读取图片');
							let buffer = resp.data;
							wx.cloud
								.callFunction({
									name: 'imgSecCheck',
									data: {
										value: buffer
									}
								})
								.then(resp2 => {
									console.log('云检测结果');
									console.log(resp2);
									if (resp2.result.errCode == 0) {
										// 审核通过
										flag = true;
										that.$api.qiniuApi.qiniuToken().then(res => {
											let data = res.data.data;
											qiniuUploader.upload(
												file,
												res => {
													let url = 'https://' + res.imageURL;
													// 上传到后台
													let data = {
														qrCodeUrl: url
													};
													that.$api.userApi.updateQrCode(data).then(resp => {
														that.qrCodeUrl = resp.data.qr_code;
														uni.setStorageSync('qrCodeUrl', that.qrCodeUrl)
														uni.navigateBack({});
													});
												},
												error => {
													var a = JSON.stringify(error);
													console.log('error: ' + a);
													uni.showToast({
														title: '上传失败，请重试',
														mask: true
													});
													that = false;
												},
												{
													region: 'NCN',
													domain: data.domain,
													key: fileName,
													uptoken: data.token
												}
											);
											that.loadModal = false;
										});
									} else {
										// 审核不通过，不继续
										flag = false;
										uni.showModal({
											title: '温馨提示',
											content: '图片可能含有违法违规内容，不支持进行下一步操作',
											success(resp3) {
												that.loadModal = false;
											},
											fail(er) {
												that.loadModal = false;
											}
										});
									}
								});
						}
					});
				}
			});
		}
	}
};
</script>

<style>
page {
	height: 100%;
}
.main {
	height: 100%;
}
.qr-code-img {
	width: 500rpx;
	height: 500rpx;
}

.qr-img {
	height: 100%;
	width: 100%;
}
</style>
